@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
body {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
}

.top_image {
    height: 340px;
    background-image: url("/img/top.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* rellax odek */

.cnt {
    /* width: 304px; */
    /* 320px max-width on mobile with 8px margins */
    height: 340px;
    /* width / 1.618 = golden ratio */
    overflow: hidden;
    background-color: #ccf;
    position: relative;
}

.odek {
    height: 340px;
    background-image: url("/img/odek.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-position-y: 50%;
    /* height: 197px; */
}

/* end rellax odek */

.page {
    padding: 50px 0;
}

img.photo {
    max-width: 100%;
}

h2 {
    text-align: center;
}

span.hr {
    color: rgb(161, 161, 161);
    display: block;
}

#hairtreatment .row {
    padding-bottom: 20px;
}

.top_image span {
    display: block;
}

.top_image .container {
    padding: 80px 0;
}

.top_image h1 {
    color: white;
}
