/* main */
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
    font-family: 'Fahkwang', sans-serif;
}
body {
    background-color: #F5F3F1;
}
section {
    margin-top: 40px;
    margin-bottom: 40px;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    color: rgb(164, 143, 122);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
h3 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.li-header {
    margin-bottom: 6px;
}
.para-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}
.devider::before {
    content: "";
    border-top: thin solid #a1a1a1;
    margin-top: 35px;
    margin-bottom: 35px;
    display: block;
    max-width: 70px
}
.gifts {
    display: block;
}
.gift {
    display: block;
    margin-left: 1em;
}
/* end main */
#services img {
    margin-bottom: 20px;
}

/* social */
ul.socialIcons {
    padding: 0;
    /* text-align: center; */
}
.socialIcons li {
    background: yellow;
    list-style: none;
    display: inline-block;
    margin: 15px;
    /* margin-top: 15%; */
    border-radius: 2em;
    overflow:hidden;
}
.socialIcons li a {
    display: block;
    padding: .5em;
    max-width: 2.3em;
    min-width: 2.3em;
    height: 2.3em;
    white-space: nowrap;
    line-height: 1.5em;
    transition:.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
.socialIcons li i {
    margin-right:.5em;
}
.socialIcons li:hover a {
    max-width:200px;
    padding-right:1em;
}
.socialIcons .facebook {
    background: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
    background: #00aced;
    box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
    background: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
.socialIcons .pinterest {
    background: #c92228;
    box-shadow: 0 0 16px #c92228;
}
.socialIcons .steam, .socialIcons .email {
    background: #666666;
    box-shadow: 0 0 16px #666666;
}
/* social end */

/* navigation */
.nav {
    padding: 10px 40px;
}
.nav-link {
    text-transform: uppercase;
    margin: 5px;
}
.btn {
    border-radius: 0px;
}
/* end navigation */
